<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TutorialsNinja Automation Suite">
  <listeners>
   <listener class-name="com.tutorialsninja.qa.listeners.MyListeners" />
  </listeners>
  <test name="TutoralNinja Test">
    <classes>
      <class name="com.tutorialsninga.qa.testcase.RegisterTest"/>
      <class name="com.tutorialsninga.qa.testcase.LoginTest"/>
      <class name="com.tutorialsninga.qa.testcase.SearchTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
